.movie-app {
  max-width: 1000px;
  margin: 0 auto;
  font-family: sans-serif;
  border: 2px solid black;
  border-radius: 10px;
  padding: 15px;
}
.movie-app-header{
  display: flex;
  justify-content: space-between;
}
.movie-app-main {
  margin-top: 40px;
}
.movie-list {
  display: flex;
  flex-wrap: wrap;
}
.movie-card,
.new-movie-card {
  border: 2px solid black;
  width: 300px;
  height: 350px;
  position: relative;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.filter-name{
  height: 50px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0 10px;
}
.filter-text{
  flex: 1;
  border: 2px solid black;
}
.filter-search{
  border: 2px solid black;
  border-left: none;
  background-color: transparent;
  padding: 0 10px;
}
.movie-card:hover .movie-delete-button {
  opacity: 1;
}
.movie-delete-button {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  position: absolute;
  height: 25px;
  width: 25px;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: red;
}
.edit{
  margin: 0 0 10px 30px;
}
.rating{ font-size: 15px;}
.movie-rating {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  border: 2px solid black;
  border-top: none;
  border-right: none;
  color:whitesmoke;
}
.movie-image {
   background-image: url(http://bit.do/fmf2G);
   height:100% ; 
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
}
.imgR{
  width: 100%;
  height: 100%;
}
.movie-description {
  border-top: 2px solid black;
  text-align: center;
  padding: 10px;
  color: black;
  font-size: 17px;
}
.new-movie-card {
  font-size: 4em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.enterTitle{
  height: 50px;
  width: 250px;
  margin:10px 0 ;
}

.trailer-btn {
  background-color: #2d3436;
  background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
  height: 35px;
  margin :0 170px 10px 30px;
  border-radius: 5px;
  padding: 10px;
}
.trailer {
  display: flex;
  flex-direction: column;
  padding: 155px;
  margin: -70px 20px;
}

.trailer-title {
  color: darkred;
  align-self: center;
  font-size: 65px;
}

.back-btn{
  padding: 10px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
